@font-face {
    font-family: 'Funny Hippo Personal Use Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Funny Hippo Personal Use Regular'), url('../file/FunnyHippoPersonalUse-axK2K.woff') format('woff');
}